---
import ShorterURL from "@/components/ShorterURL.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="URLs Shortener">
	<h1 class="text-2xl lg:text-4xl">Acortador de URLs</h1>
	<ShorterURL />
</Layout>
