---
import ChevronDown from "@/components/icons/ChevronDown.astro"
import { User, db, like } from "astro:db"
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)

if (session && session.user?.email && session.user?.name) {
	const res = await db.select().from(User).where(like(User.email, session.user.email))

	if (res.length === 0) {
		await db.insert(User).values({
			email: session.user.email,
			name: session.user.name,
		})
	}
}
---

<header class="flex items-center justify-end p-[1rem]">
	{
		session ? (
			<div id="dropdown-menu" class="group relative">
				<div id="dropdown-label" class="flex cursor-pointer items-center">
					<span>{session.user?.name?.split(" ")[0]}</span>
					<ChevronDown />
				</div>
				<div id="dropdown-content" class="absolute hidden bg-white text-black group-hover:block">
					<nav>
						<ul>
							<li>
								<a href="#">Ver mis URLs</a>
							</li>
							<li>
								<button class="bg-white p-[0.5rem]" id="logout">
									Logout
								</button>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		) : (
			<button class="bg-white p-[0.5rem] text-black" id="login">
				Login
			</button>
		)
	}
</header>

<script>
	const { signIn, signOut } = await import("auth-astro/client")
	const login = document.querySelector("#login") as HTMLButtonElement
	if (login) {
		login.onclick = () => signIn("google")
	}
	const logout = document.querySelector("#logout") as HTMLButtonElement
	if (logout) {
		logout.onclick = () => signOut()
	}
</script>
